<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- React SPA rewrite rules -->
    <rewrite>
      <rules>
        <!-- Allow static files in /backoff/assets/, /backoff/static/, etc. -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^(assets|static)/(.*)" />
          <action type="Rewrite" url="/backoff/{R:1}/{R:2}" />
        </rule>

        <!-- Route all non-file/dir requests to index.html -->
        <rule name="React SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>